body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

.input-container {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input {
    width: 100%;
    padding: 0.5em;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0.5em 0;
    border-bottom: 1px solid #ddd;
}

/* Basic styling for the book list */
.book-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Styling for each book container */
.book {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Styling for book cover */
.book-cover img {
    width: 100%;
    height: auto;
    display: block;
}

/* Styling for book info */
.book-info {
    padding: 10px;
}

.book-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.book-author {
    margin: 0;
    color: #777;
}
